include SKILL.md
include install.sh
include LICENSE
include README.md
include CONTRIBUTING.md
include pyproject.toml
include .gitignore
graft docs
graft examples
graft tests
graft workers
global-exclude *.pyc
global-exclude __pycache__
prune workers/download-tracker/node_modules
prune workers/download-tracker/.wrangler
